### Lambda functions in python

lambda functions are small anonymous functions defined using the lambda keyword. they can have any number of arguments but only one expression . They are commonly used for short operations or as arguments to higher order functions.

In [1]:
def addition(a,b):
  return a+b

In [2]:
##lambda function
addition=lambda a,b:a+b
type(addition)

function

In [3]:
print(addition(5,6))

11

In [4]:
even1=lambda a:a%2==0
even1(12)

True

In [6]:
## map() - applies a function to all items in a list
numbers=[1,2,3,4,5,6,7]
def square(number):
  return number**2

square(2)

4

In [7]:
list(map(lambda x:x**2 , numbers))

[1, 4, 9, 16, 25, 36, 49]

### the map() Function in python
the map() function applies a given function to all items in an input list(or any other iterable) and returns a map object(an iterator). This is particularly used for transforming data in a alist comprehensively.

In [8]:
def square(x):
  return x*x
square(10)

100

In [10]:
numbers1=[1,2,3,4,5,5,7,8]
list(map(square,numbers1))

[1, 4, 9, 16, 25, 25, 49, 64]

## Lambda function with map

In [11]:
list(map(lambda x:x*x , numbers1))

[1, 4, 9, 16, 25, 25, 49, 64]

# MAP with multiple iterables

In [13]:
numbers2=[4,5,6]
numbers3=[1,2,3]
added_num=list(map(lambda x,y:x+y,numbers2,numbers3))
print(added_num)

[5, 7, 9]

In [14]:
## map() to convert a list of strings into integers
str_num=['1','2','3']
int_num=list(map(int,str_num))
print(int_num)

[1, 2, 3]

### the filter() function in python

the filter() function constructs an iterator from elements of an iterable for which a function returns true. it is used to filter out
items from a list(or any other iterable) based ona a condition

In [3]:
lst=[1,2,3,4,5,6,7,8,9]
even=list(filter(lambda x:x%2==0,lst))

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
greater_than_five = list(filter(lambda x: x > 5, numbers))
print(greater_than_five)

[6, 7, 8, 9]

###Conclusion

it is commonly used for data cleaning , filtering objects and removing unwnted elements from lists. The filter() function is a poweful tool for creating iterators that filters items out of an iterable based on a function