### Variables :
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program . In python , variables are created when you assign a value to them, and they do not need explicit declaration to reserve menory space . The declaration happens automatically when you assign a value to a variable

What you will learn ?
  * Introduction to variables
  * Declaring and assigning variable
  * Naming conventions
  * Understanding variables type
  * type checking and conversion
  * Dynamic typing
  * Practical example and Common Errors

In [1]:
a=100

Declaring and assigning variables

In [2]:
# Declaring and assigning variables
name="Ayush Sriavastava"
height=5.11
age=21
is_Student=True

##Printing the variables

print("age: ",age)
print("name: ", name)

age:  21
name:  Ayush Sriavastava

### NAMING CONVENTION

* Variable names should be descriptive
* They must always start with a letter or an '_' and contains letter, numbers ,and underscores
* Variables names case sensitive

In [4]:
## INvalid variable names
first-name="Ayush"
2name="srivastsva"

SyntaxError: invalid decimal literal (<ipython-input-4-8a4ee5329e44>, line 3)

Understanding variable types

Python is dynamically typed , type of the variable is determined at a runtime

In [5]:
age=21 # int
height=5.11 # float
name="Ayush"# str

print(type(age))
print(type(height))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

### TYPE CONVERSION

In [6]:
age=21
print(type(age))
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [7]:
##here you will get error
name="AYUSH"
int(name)

ValueError: invalid literal for int() with base 10: 'AYUSH'

DYNAMIC TYPING : Python allows the type of variable to change as the program executes

In [8]:
var="Ayush"
print(var,type(var))
var=13
print(var,type(var))

Ayush <class 'str'>
13 <class 'int'>

### INPUT

In [9]:
gae=input("What is the age")
print(gae,type(gae))

What is the age23
23 <class 'str'>

In [10]:
gae=int(input("What is the age"))
print(gae,type(gae))

What is the age45
45 <class 'int'>